<!DOCTYPE html>
<html>
<head>
  <title>Wordpressed Admin</title>
  <%= stylesheet_link_tag    "wordpressed/application", :media => "all" %>
  <%= javascript_include_tag "wordpressed/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Wordpressed Admin</h1>
    </header>
    <%= yield %>
  </div>
</body>
</html>
